.lectureBlock {
    margin-top: 20px;
    width: 850px;
}

.lectureBlock h1 {
    text-align: center;
    margin-bottom: 20px;
}

.lectureBlock p {
    word-wrap: break-word;
}

.practicalFileInput {
    margin-top: 50px;
}

.practicalFileInput p {
    float: left;
    margin-right: 20px;
}
