.lectureBlock {
    margin-top: 20px;
    width: 850px;
}

.lectureBlock h1 {
    text-align: center;
    margin-bottom: 20px;
}

.lectureBlock p {
    word-wrap: break-word;
}

.practicalFileInput {
    margin-top: 100px;
}

.practicalFileInput::after {
    content: ' ';
    display: table;
    clear: both;
}

.practicalFileInput h5 {
    float: left;
    margin-right: 20px;
}

.practicalFileInput button {
    float: left;
    margin-top: 5px;
}

.practicalFileInput img {
    width: 40px;
    margin-left: 20px;
}

.practicalFileInput p {
    float: left;
    margin: 10px 20px;
    font-weight: 600;
}
