.loginForm {
    padding-top: 60px;
    display: none;
}

.form-login {
    display: inline-block;
    min-width: 300px;
}

.form-login label {
    font: 800 16px/1.4 "Roboto", sans-serif;
}

.form-login button {
    margin-left: 70px;
}
