section#editCourse {
    width: 73%;
    min-height: 700px;
    background: url(../../../../public/images/sidebar_shadow.png) repeat-y left top;
    float: left;
}

.selectCourse_edit {
    padding: 30px 50px;
}

.selectCourse_edit p {
    float: left;
    padding-top: 5px;
    margin-right: 20px;
}

.selectCourse_edit select {
    margin-right: 20px;
    border-radius: 10px;
    width: 150px;
    height: 33px;
}

.courseInfo {
    padding-left: 50px;
}

/* Modules */
.editCourse_module {
    border: 1px solid #9BA0AF;
    width: 100%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    border-radius: 5px;
    background: #ffffff;
}

.editCourse_module header {
    height: 38px;
    width: 100%;
    background: #F1F1F4 url(../../../../public/images/secondary_bar.png) repeat-x;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.editCourse_module h3 {
    display: block;
    width: 90%;
    float: left;
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 8px 20px;
    text-align: center;
}

.editCourse_module footer {
    height: 32px;
    width: 100%;
    border-top: 1px solid #9CA1B0;
    background: #F1F1F4 url(../../../../public/images/module_footer_bg.png) repeat-x;
}

.editCourse_module_content {
    margin: 10px 20px;
    color: #666;
}

.editCourseImage {
    width: 450px;
}

.editCourseImage label {
    padding-top: 10px;
}

.editCourseImage button {
    float: left;
}

.editCourseImage img {
    width: 30px;
    margin-left: 20px;
}

/* Submit message */
.submitCourseImgMessage {
    display: none;
}

.submitCourseImgMessage img {
    width: 30px;
    margin-left: 20px;
}

/* New/Edit Article Module */
.editCourse_module_content fieldset {
    border-radius: 5px;
    background: #F6F6F6;
    border: 1px solid #ccc;
    padding: 1% 0%;
    margin: 10px 0;
}

.editCourse_module_content fieldset label {
    display: block;
    float: left;
    width: 200px;
    height: 25px;
    line-height: 25px;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    padding-left: 10px;
    margin: -5px 0 5px 0;
    text-transform: uppercase;
}

.editCourse_module_content fieldset input[type=text] {
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    height: 20px;
    color: #666666;
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
}

.editCourse_module_content fieldset input[type=text]:focus {
    outline: none;
    border: 1px solid #77BACE;
}

.editCourse_module_content fieldset select {
    width: 96%;
    margin: 0 10px;
    border: 1px solid #bbb;
    height: 20px;
    color: #666666;
}

.editCourse_module_content fieldset textarea {
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    color: #666666;
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0 0.5%;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
}

.editCourse_module_content fieldset textarea:focus {
    outline: none;
    border: 1px solid #77BACE;
}

.edit_submit_button {
    float: right;
    margin-right: 3%;
    padding-top: 5px;
}

.edit_submit_button img {
    float: left;
    margin-right: 20px;
    padding-bottom: 5px;
    width: 30px;
    height: 30px;
}

.edit_submit_button p {
    float: left;
    margin-right: 50px;
    font-weight: bold;
}

.edit_submit_button input[type=button] {
    background: #D0D1D4 url(../../../../public/images/btn_submit_2.png) repeat-x;
    border: 1px solid#30B0C8;
    box-shadow: 0 1px 0 #fff;
    font-weight: bold;
    height: 22px;
    border-radius: 5px;
    padding: 0 10px;
    color: #003E49;
    text-shadow: 0 1px 0 #6CDCF9;
    cursor: pointer;
    margin-right: 10px
}

.edit_submit_button input[type=button]:hover {
    color: #001217;
}
